@model IEnumerable<string>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
            <div><u>Acknowledged Request Tokens</u></div>
            @foreach (string item in Model)
            {
                <div>@item</div>
            }
    </div>
</body>
</html>
