@model IEnumerable< Dictionary<string, string>>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
            <div><u>Acknowledged Request Tokens</u></div>
        <table>
            <tr>
                <th>Message Id</th>
                <th>Result Payload</th>
            </tr>
            @foreach (KeyValuePair<string, string> item in Model)
            {
                <tr>
                    <td><div>@item.Key</div></td>
                    <td>@item.Value</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
